TABLE {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-SIZE: 14px;
	FONT-FAMILY: Verdana, Arial, sans-serif;
}

.button {
  display: inline;
  width: 115px;
  height: 25px;
  background: #6699FF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  FONT-FAMILY: Verdana, Arial, sans-serif;
}

.button a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}